In [1]:
#import required library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pickle
from pandas_profiling import ProfileReport

In [3]:
df = pd.read_csv('../data/advertising.csv')

In [4]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [5]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [7]:
df.shape

(200, 4)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [10]:
df.dtypes

TV           float64
Radio        float64
Newspaper    float64
Sales        float64
dtype: object

In [11]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [13]:
profile = ProfileReport(df)

In [14]:
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valuâ€¦

In [15]:
profile.to_file('lr-model-1.html')

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [61]:
x = df[['TV']]
x.shape

(200, 1)

In [62]:
x.head(2)

      TV
0  230.1
1   44.5

In [50]:
#Independent column
y = df['Sales']
y.shape

(200,)

In [43]:
#dependent column
y.head(2)

   Sales
0   22.1
1   10.4

In [44]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [63]:
lr.fit(x.values,y)

LinearRegression()

In [64]:
# c - value 
lr.intercept_

6.9748214882298925

In [65]:
# m - value
lr.coef_

array([0.05546477])

sales = m.TV + c

sales = 0.05546477*TV + 6.9748214882298925

In [66]:
saved_model_v1 = 'linear_reg.sav'
pickle.dump(lr,open(saved_model_v1,'wb'))

In [67]:
lr.predict([[45]])

array([9.47073616])

In [68]:
l = [4,5,6,7,89,34,45,67,23]
for i in l :
    print(lr.predict([[i]]))

[7.19668057]
[7.25214534]
[7.30761011]
[7.36307488]
[11.91118606]
[8.86062368]
[9.47073616]
[10.69096111]
[8.25051121]